@import 'nullStyle';

.container {
    width: 1200px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
}
.header__menu {
    display: flex;
    list-style: none;
}
.header__menu-item {
    &:not(:last-child) {
        margin-right: 32px;
    }
}
.header__menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #192252;
    &:hover {
        opacity: 0.5;
    }
}
.burger {
    border: none;
    background: transparent;
    display: none;
}
.btn {
    padding: 14px 16px;
    background: #0E1734;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    display: block;
    width: fit-content;
    &:hover {
        opacity: 0.5;
    }
}
.sections-wrap {
    padding-top: 80px;
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}
.section--main-page {
    margin-top: 80px;
}
.sections-wrap {
    max-width: 1100px;
}
.text-block {
    max-width: 560px;
}
.text-block--short {
    max-width: 530px;
}
.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #192252;
}
.title--big {
    font-size: 48px;
}
.text {
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
}
.text--short {
    max-width: 450px;
}
.text--second {
    margin-top: 16px !important;
}
.section__text {
    margin-top: 24px;
}
.section__btn {
    margin-top: 32px;
}
.cards {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text--center {
    max-width: 500px;
}
.cards__text {
    margin-top: 24px;
    text-align: center;
}
.cards__btn {
    margin-top: 32px;
}
.cards__wrap {
    margin-top: 88px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.card {
    width: 32%;
}
.card__title {
    margin-top: 32px;
    font-size: 24px;
}
.card__text {
    margin-top: 16px;
}
.more-link {
    margin-top: 32px;
    text-decoration: none;
    font-size: 18px;
    line-height: 150%;
    color: #424F7B;
    display: flex;
    align-items: center;
    &:hover {
        opacity: 0.5;
    }
}
.card__link-img {
    margin-left: 12px;
}
.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #424F7B;
}
.tabs__section {
    margin-top: 160px;
}
.tabs__title {
    margin-top: 12px;
}
.tabs__text {
    max-width: 300px;
    margin-top: 24px;
}
.tabs__btn-wrap {
    display: flex;
    padding-top: 32px;
    align-items: center;
}
.plain-btn {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #0E1734;
    padding-left: 24px;
    &:hover {
        opacity: 0.5;
    }
}
.tabs {
    width: 50%;
}
.tab {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 32px 36px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
}
.tabs__tab:not(:last-child) {
    margin-bottom: 24px;
}
.tab__title {
    font-size: 24px;
    line-height: 150%;
    color: #424F7B;
}
.tab__text {
    margin-top: 24px;
}
.review {
    padding-top: 160px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review__img {
    margin-top: 62px;
}
.text--center {
    text-align: center;
}
.review__text {
    margin-top: 44px;
    max-width: 700px;
}
.review__name {
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #192252;
}
.slider-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__btns {
    margin-top: 24px;
}
.slider-btn {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background: rgba(250, 176, 71, 0.35);
}
.slider__btn {
    &:not(:last-child) {
        margin-right: 12px;
    }
}
.slider-btn--selected {
    width: 12px;
    height: 12px;
    background: #FAB047;
}
.footer {
    background: #0B265A;
    padding: 120px 0;
}
.footer__text {
    margin-top: 20px;
    max-width: 150px;
}
.text--white {
    color: #D9DBDE;
}
.text--small {
    font-size: 16px;
    line-height: 28px;
}
.footer__contacts-wrap {
    margin-top: 39px;
    display: flex;
    align-items: center;
}
.footer__contacts-link {
    &:not(:last-child) {
        margin-right: 24px;
    }
}
.footer__nav-wrap {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.footer__nav-item {
    &:not(:last-child) {
        margin-bottom: 24px;
    }  
}
a.footer__nav-item {
    &:hover {
        color: #FAB047;
    }
}
.text--bold {
    font-weight: 700;
    letter-spacing: 0.01em;
}

@media (max-width: 1300px) {
    .container {
        width: 100vw;
        padding: 0 2vw;
    }
    .sections-wrap {
        width: 100%;
    } 

}
@media (max-width: 1200px) {
    .card__img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .section__img--main {
        margin-left: 30px;
    }
}
@media (max-width: 1000px) {
    .section__img--right {
        margin-left: 30px;
    }
    .section__img--left {
        margin-right: 30px;
    }
    .title {
        font-size: 28px;
    }
    .title--big {
        font-size: 36px;
    }
    .section__img--main {
        width: 50%;
    }
}
@media (max-width: 850px) {
    .section__img {
        width: 40%;
    }
}
@media (max-width: 700px) {
    .title {
        font-size: 24px;
    }
    .title--big {
        font-size: 28px;
    }
    .text {
        font-size: 16px;
    }
}
@media (max-width: 650px) {
    .header__menu {
        display: none;
    }
    .burger {
        display: block;
    }
    .section--main-page {
        margin-top: 60px;
    }
    .sections-wrap {
        padding-top: 60px;
    } 
    .tabs__section {
        flex-direction: column;
        align-items: center;
    }
    .tabs__section {
        margin-top: 80px;
    }
    .info-block {
        max-width: 90%;
    }
    .tabs__text {
        max-width: 100%;
        margin-top: 24px;
    }
    .tabs {
        padding-top: 40px;
    }
    .tabs {
        width: 90%;
    }
    .review {
        padding-top: 80px;
    }
    .footer__text {
        text-align: center;
        max-width: 50%;
    }
    .footer__section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__info-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__nav-wrap {
        margin-top: 60px;
        width: 90%;
    }
}
@media (max-width: 500px) {
    .section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section--reversed {
        flex-direction: column-reverse; 
    }
    .section__img--left, .section__img--right, .section__img--main {
        margin: 0 0 20px 0
    }
    .section__title {
        text-align: center;
    }
    .section__text {
        text-align: center;
    }
    .section__btn {
        display: block;
        width: fit-content;
        margin: auto;
        margin-top: 20px;
    }
    .cards__wrap {
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 80%;
    }
    .cards__card {
        &:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}
@media (max-width: 450px) {
    .review__title {
        text-align: center;
    }
}
@media (max-width: 400px) {
    .text--small {
        font-size: 12px;
    }
}